/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    background: #049fea;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #343a40;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #fff;
    color: #343a40;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #049fea;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #049fea;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #049fea;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #049fea !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

.map{
    width: 100%;
    height: 80vh;
}


.ol-control button { 
    background-color: rgba(40, 40, 40, 0.8) !important;
}
.ol-control button:hover { 
    background-color: rgba(40, 40, 40, 1) !important;
}

.toggle-btn{
    color: #fff;
    background-color: #049fea;
    border-color: #049fea;
}

#Flood_Map_for_Planning_Rivers_and_Sea_Flood_Zone_2:checked~.custom-control-label::before{
    color: #fff;
    border-color: #64a082;
    background-color: #64a082;
}
#Flood_Map_for_Planning_Rivers_and_Sea_Flood_Zone_3:checked~.custom-control-label::before{
    color: #fff;
    border-color: #6998a4;
    background-color: #6998a4;
}
#Flood_Map_for_Planning_Rivers_and_Sea_Flood_Storage_Areas:checked~.custom-control-label::before{
    color: #fff;
    border-color: #8A2BE2;
    background-color: #8A2BE2;
}#Flood_Map_for_Planning_Rivers_and_Sea_Areas_Benefiting_from_Defences:checked~.custom-control-label::before{
    color: #fff;
    border-color: blue;
    background-color: blue;
}#Flood_Map_for_Planning_Rivers_and_Sea_Spatial_Flood_Defences_Without_Standardised_Attributes:checked~.custom-control-label::before{
    color: #fff;
    border-color: #8A2BE2;
    background-color: #8A2BE2;
}#Historic_Flood_Map:checked~.custom-control-label::before{
    color: #fff;
    border-color: #FFFFFF;
    background-color: #FFFFFF;
}#Groundwater_Flooding_Scoping_Study_Data:checked~.custom-control-label::before{
    color: #fff;
    border-color: #3d468E;
    background-color: #3d468E;
}#Risk_of_Flooding_from_Surface_Water_Extent_3_3_Percent_Annual_Chance:checked~.custom-control-label::before{
    color: #fff;
    border-color: #72798C;
    background-color: #72798C;
}#Risk_of_Flooding_from_Surface_Water_Extent_1_Percent_Annual_Chance:checked~.custom-control-label::before{
    color: #fff;
    border-color: #5F7374;
    background-color: #5F7374;
}#Risk_of_Flooding_from_Surface_Water_Extent_0_1_Percent_Annual_Chance:checked~.custom-control-label::before{
    color: #fff;
    border-color: #62886C;
    background-color: #62886C;
}#Risk_of_Flooding_from_Surface_Water_Depth_3_3_Percent_Annual_Chance:checked~.custom-control-label::before{
    color: #fff;
    border-color: #72798C;
    background-color: #72798C;
}#Risk_of_Flooding_from_Surface_Water_Depth_1_Percent_Annual_Chance:checked~.custom-control-label::before{
    color: #fff;
    border-color: #5F7374;
    background-color: #5F7374;
}#Risk_of_Flooding_from_Surface_Water_Depth_0_1_Percent_Annual_Chance:checked~.custom-control-label::before{
    color: #fff;
    border-color: #62886C;
    background-color: #62886C;
}#Risk_of_Flooding_from_Surface_Water_Hazard_3_3_Percent_Annual_Chance:checked~.custom-control-label::before{
    color: #fff;
    border-color: #72798C;
    background-color: #72798C;
}#Risk_of_Flooding_from_Surface_Water_Hazard_1_Percent_Annual_Chance:checked~.custom-control-label::before{
    color: #fff;
    border-color: #5F7374;
    background-color: #5F7374;
}#Risk_of_Flooding_from_Surface_Water_Hazard_0_1_Percent_Annual_Chance:checked~.custom-control-label::before{
    color: #fff;
    border-color: #62886C;
    background-color: #62886C;
}#Risk_of_Flooding_from_Surface_Water_Speed_3_3_Percent_Annual_Chance:checked~.custom-control-label::before{
    color: #fff;
    border-color: #72798C;
    background-color: #72798C;
}#Risk_of_Flooding_from_Surface_Water_Speed_1_Percent_Annual_Chance:checked~.custom-control-label::before{
    color: #fff;
    border-color: #5F7374;
    background-color: #5F7374;
}#Risk_of_Flooding_from_Surface_Water_Speed_0_1_Percent_Annual_Chance:checked~.custom-control-label::before{
    color: #fff;
    border-color: #62886C;
    background-color: #62886C;
}#Flood_Risk_Areas:checked~.custom-control-label::before{
    color: #fff;
    border-color: #FFFFFF;
    background-color: #FFFFFF;
}